\#*#
*~
*.la
*.lo
*.o
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
libupnpp/config.h
libupnpp.pc
libupnpp.pc
doc/libupnpp-ctl.html
doc/refdoc/
windows/build-libupnpp-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
macos/build-libupnpp-Desktop_Qt_5_14_2_clang_64bit-Release
.ccls-cache
