Source: libupnpp6
Section: contrib/sound
Priority: optional
Maintainer: Jean-Francois Dockes <jf@dockes.org>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, autotools-dev, pkg-config,
               libnpupnp1-dev (>= 2.2.0), libexpat1-dev, libcurl-dev
Standards-Version: 3.9.8
Homepage: http://www.lesbonscomptes.com/upmpdcli

Package: libupnpp6-dev
Section: contrib/libdevel
Architecture: any
Depends: libupnpp6, ${misc:Depends}
Description: C++ layer over libupnp (development files)
 Development library and include files for libupnpp

Package: libupnpp6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ layer over libupnp.
 libupnpp wraps libnpupnp calls and data inside easier to use C++ constructs.
 It can be used to build either devices or control points. 
 The library exists mostly to the support the upmpdcli media renderer and
 the upplay control point and its interface is probably not ready or stable
 enough for wider use.
